<h1>My feed</h1>
<a href="/logout">Log out</a>
<a href="/users">View all users</a>
<a href = '/users/<%=current_user.id%>'>My Profile</a>


<a href="/tweets/new">New tweet</a>
<% @tweets.each do |tweet| %>
  <h2>  <img src=<%= tweet.user.profile_picture_url%> alt="profile picture" width="50" height="50">
<a href = "/users/<%=tweet.user.id%>"><%= tweet.user.name %></a></h2>
  <p>Tweeted at: <%=tweet.created_at.strftime('%b %e, %l:%M %p')%></p>
  <p><%= tweet.text %></p>
  <% if tweet.image_url == ""%>
  <%else%>
    <img src=<%= tweet.image_url%> alt="tweet picture" width="100" height="100">
  <% end%>
  <%if Like.find_by(tweet_id: tweet.id, user_id: current_user.id) %>
    <form method="delete" action="/likes/<%=Like.find_by(tweet_id: tweet.id, user_id: current_user.id).id%>" class="inline">

      <button type="submit" name="submit_param" value="submit_value" class="link-button">
      Unlike
      </button>
    </form>
  <%else%>
    <form method="post" action="/likes" class="inline">
      <input type="hidden" name="tweet_id" value=<%=tweet.id %> >
      <button type="submit" name="submit_param" value="submit_value" class="link-button">
      Like
      </button>
    </form>
  <% end %>
  <hr>
<%end%>

