<h1>Edit Profile</h1>
<form method="post" action="/users/<%= @user.id %>">
  <input type="hidden" name="_method" value="patch" autocomplete="off">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <div>
    <label>Name </label>
    <input type="text" name="user[name]" value="<%= @user.name %>">
  </div>
  <div>
    <label>email </label>
    <input type="text" name="user[email]" value="<%= @user.email %>">
  </div>
  <div>
    <label>profile_picture_url </label>
    <input type="text" name="user[profile_picture_url]" value="<%= @user.profile_picture_url %>">
  </div>
  <div>
    <input type="submit" value="Update user">
  </div>
</form>