<h1>  <img src=<%= @user.profile_picture_url%> alt="profile picture" width="100" height="100">
<%=@user.name%></h1>
<a href="/logout">Log out</a>
<a href="/myfeed">My feed</a>
<%if current_user.id == @user.id%>
  <a href="/tweets/new">New tweet</a>
<%end%>

  <%if Relationship.find_by(leader_id: @user.id, follower_id: current_user.id) %>
    <form method="delete" action="/relationships/<%=@user.id%>" class="inline">
      <button type="submit" name="submit_param" value="submit_value" class="link-button">
      Unfollow
      </button>
    </form>
  <%elsif @user.id == current_user.id%>
  <%else%>
    <form method="post" action="/relationships" class="inline">
      <input type="hidden" name="leader_id" value=<%=@user.id %> >
      <button type="submit" name="submit_param" value="submit_value" class="link-button">
      Follow
      </button>
    </form>
  <% end %>
  <%tweets = @user.tweets.order(created_at: :desc)%>
  <%tweets.each do |tweet|%>
    <h2>  <img src=<%= tweet.user.profile_picture_url%> alt="profile picture" width="50" height="50">
<%= tweet.user.name %></h2>
    <p>Tweeted at: <%=tweet.created_at.strftime('%b %e, %l:%M %p')%></p>
    <p><%= tweet.text %></p>
    <% if tweet.image_url == ""%>
    <%else%>
      <img src=<%= tweet.image_url%> alt="tweet picture" width="100" height="100">
    <% end%>
    <%if current_user.id == @user.id%>
      <form method="delete" action="/tweets/<%=tweet.id%>" class="inline">
      <input type="hidden" name="tweet_id" value=<%=tweet.id %> >
      <button type="submit" name="submit_param" value="submit_value" class="link-button">
      Delete tweet
      </button>
    </form>
    <%end%>
  <%end%>
